/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #202124;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.add-button {
  position: absolute;
  top: 5px;
  left: 50%;
}

.boxes {
  position: absolute;
  top: 40px;
  left: 10px;
}
